.form-input{
    text-align: left;
    color: burlywood;
    margin-left: 10px;

}
.form-label{
    text-align: center;
    color: blueviolet;
}
.form-luan{
    margin-top: 10px;
}
.form{
    width: 100%;
}


